<div class="chat-page">
  <div class="chat-list">
    <input class="user-search" placeholder="Search..." [(ngModel)]="searchQuery" (input)="findUsers()">
    <div class="search-result">
      <div class="search-result-element" *ngFor="let user of searchResult" (click)="selectChat(user.id, user.login)">{{user.login}}</div>
    </div>
    <div class="chat" *ngFor="let chat of chats" (click)="selectChat(chat.id)">
      <div class="chat-name">{{chat.name}}</div>
      <div class="last-message" *ngIf="chat.messages.length">{{chat.messages[chat.messages.length - 1].text}}</div>
    </div>
  </div>
  <div class="chat-view">
    <div class="menu">
      <div class="user-info">{{selectedChat ? selectedChat.name : ''}}</div>
      <div class="call-menu" *ngIf="selectedChat">
        <img src="assets/image/call.svg" alt="call" (click)="startCall()"/>
        <img src="assets/image/video.svg" alt="video">
      </div>
      <div class="user-info">{{currentUser.login}}</div>
    </div>
    <div class="chat-content">
      <div class="message-container" *ngIf="selectedChat">
        <div class="message" *ngFor="let message of selectedChat.messages"
             [ngClass]="{'input-message': message.direction === 'input', 'output-message': message.direction === 'output'}">
          <div class="text-content">{{message.text}}</div>
        </div>
      </div>
      <div class="message-send-container" *ngIf="selectedChat.id">
        <textarea class="message-content" [(ngModel)]="textContent"></textarea>
        <div class="send-button" (click)="sendMessage()"></div>
      </div>
    </div>
  </div>
  <div class="call-output-modal" *ngIf="outputCall">
    <div class="call-details">Calling...</div>
    <img src="assets/image/cancel.svg" alt="cancel" (click)="endCall()">
  </div>
  <div class="call-input-modal" *ngIf="inputCall">
    <div class="call-details">Call from {{connectedUser ? connectedUser.login : ''}}</div>
    <div class="call-control-panel">
      <img src="assets/image/call.svg" alt="accept" (click)="acceptCall()">
      <img src="assets/image/cancel.svg" alt="cancel" (click)="endCall()">
    </div>
  </div>
  <div class="current-call-modal" [ngClass]="{'invisible': !currentCall}">
    <div class="call-details">{{connectedUser ? connectedUser.login : ''}}</div>
    <div class="video-container">
      <video #videoSelf class="video-block"></video>
      <video #videoCaller class="video-block"></video>
    </div>
    <div class="call-control-panel">
      <img src="assets/image/microphone.svg" alt="microphone off" *ngIf="microphone" (click)="toggleMicrophone()">
      <img src="assets/image/microphone-slash.svg" alt="microphone on" *ngIf="!microphone" (click)="toggleMicrophone()">
      <img src="assets/image/video.svg" alt="camera off" *ngIf="camera" (click)="toggleCamera()">
      <img src="assets/image/video-slash.svg" alt="camera on" *ngIf="!camera" (click)="toggleCamera()">
      <img src="assets/image/cancel.svg" alt="cancel" (click)="endCall()">
    </div>
  </div>
</div>
