<div class="welcome-page stars-outer">
  <div id="stars-sky">
    <span class="stars-star" *ngFor="let star of stars"
          [ngStyle]="{'top': star.y + 'px', 'left': star.x + 'px'}"
          [ngClass]="'stars-axis-' + star.group +  ' stars-size-' + star.size"></span>
    <sphere-form color="white" [ngClass]="stageClasses[0]"></sphere-form>
    <img class="arrow arrow-right" src="assets/image/arrow-right.svg" alt="->" (click)="swapRight()">
    <sphere-form color="green" [ngClass]="stageClasses[3]"></sphere-form>
    <sphere-form color="blue" [ngClass]="stageClasses[1]"></sphere-form>
    <img class="arrow arrow-left" src="assets/image/arrow-left.svg" alt="->" (click)="swapLeft()">
    <sphere-form color="crimson" [ngClass]="stageClasses[2]"></sphere-form>

    <div class="login-form" *ngIf="stageClasses[1] === 'front'">
      <span class="form-header">Sign in</span>
      <input [(ngModel)]="user.login" class="form-input" placeholder="login">
      <input [(ngModel)]="user.password" class="form-input" type="password" placeholder="password">
      <div class="message-container"></div>
      <input class="form-input submit-button" type="submit" value="Sign in" (click)="login()">
    </div>

    <div class="register-form" *ngIf="stageClasses[1] === 'left'">
      <span class="form-header">Sign up</span>
      <input [(ngModel)]="registrationRequest.login" class="form-input" placeholder="login">
      <input [(ngModel)]="registrationRequest.password" class="form-input" type="password" placeholder="password">
      <input [(ngModel)]="registrationRequest.confirm" class="form-input" type="password" placeholder="confirm">
      <div class="message-container"></div>
      <input class="form-input submit-button" type="submit" value="Sign up" (click)="register()">
    </div>
  </div>
</div>
