<div class="plane main">
  <div class="circle" [ngStyle]="{'box-shadow': '0 0 7vw ' + color +', inset 0 0 7vw ' + color}"></div>
  <div class="circle" [ngStyle]="{'box-shadow': '0 0 7vw ' + color +', inset 0 0 7vw ' + color}"></div>
  <div class="circle" [ngStyle]="{'box-shadow': '0 0 7vw ' + color +', inset 0 0 7vw ' + color}"></div>
  <div class="circle" [ngStyle]="{'box-shadow': '0 0 7vw ' + color +', inset 0 0 7vw ' + color}"></div>
  <div class="circle" [ngStyle]="{'box-shadow': '0 0 7vw ' + color +', inset 0 0 7vw ' + color}"></div>
  <div class="circle" [ngStyle]="{'box-shadow': '0 0 7vw ' + color +', inset 0 0 7vw ' + color}"></div>
  <div class="circle" [ngStyle]="{'box-shadow': '0 0 7vw ' + color +', inset 0 0 7vw ' + color}"></div>
</div>
